---
category: eng
layout: default
---


  <body>


    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Team Pizza</h1>
					<br>
					<img src="/images/pizzacat.jpg" alt="maybe you should hustle as hard
					as you hate" title="maybe you should hustle as hard as you hate"
					style="height: 300px; margin-left: auto; margin-right: auto; display:
					block;"></img>
					<br>
          <!-- <p>maybe you should hustle as hard as you hate</p> -->
          <hr>
					<p>
						makers of <a href="/backpack/">backpack</a>
					</p>
						<h2 class="page-heading">Latest Updates</h2>

  <ul class="post-list">
    {% for post in site.posts %}
		  {% if post.category == "eng" %}
        <li>
					<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

					<h3>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h3>
				</li>
				<!-- {break} <!-- enum.find didn't work, so this is a quick workaround -->
			{% endif %}
		{% endfor %}
  </ul>

</section>


</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
